@model List<BitBook2.Models.AllStatus>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red;">Welcome To Bit Book</h2>

<div>
    @foreach (var status in Model)
    {

        <h3>
           @status.UserName
            @Html.ActionLink(status.Status, "Details", new { id = status.UserId });
        </h3>
        <h3 style="color:green;">
            @status.Status
        </h3>
        <hr />
    }

</div>