
@{
    ViewBag.Title = "ChangeProfilePhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ChangeProfilePhoto", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin: 220px 200px 300px 300px;background-color:lightskyblue;height: 280px;padding: 110px 100px 110px 200px;font-size: 20px;text-align: center">

        <input type="file" name="file" />&nbsp;&nbsp;&nbsp;<br>
        <input type="submit" value="Upload Profile Picture" name="Command" /><br />
    </div>
    <div>
        @ViewBag.Message

    </div>
}


