@using BitBook2.Models
@model BitBook2.Models.AdditionalInfo


@{
    ViewBag.Title = "EditAdditionalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Additional Info</h2>
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <form method="POST">
            
            <p> <img src="/@Model.ProfilePhoto" width="200px" height="200px"></p>

            <p> Gender : <input type="text" name="Gender" value="@Model.Gender" /></p>
            <p>Education : <input type="text" name="Education" value="@Model.Education" /></p>
            <p>Location : <input type="text" name="Location" value="@Model.Location" /></p>
            <p> <input type="submit" value="Save" /></p>
            <p>@ViewBag.Message</p>
        </form>
    </div>


</body>
</html>



